body {
    background-image: url(file:///Users/Steven/Desktop/stevenan7.github.io/Lake-Michigan-Red-Sunrise.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#title{
    font-size: 540%;
    font-family: Century Gothic;
    position: fixed;
    top: 30%;
    left: 30%;

}
#subtitles{
    position: fixed;
    top: 55%;
    left: 38%;
    font-size: 240%;
    word-spacing: 120%;
}
a:link{
    color: white;
    text-decoration: none;
    word-spacing: 1em;
}
a:hover{
    color: #660066;
}
a:visited{
    color: #660066;
}
   