<style>
      body{
          font-family: Helvetica, Sans-serif;
          background-color: beige;
      }
      .header, .navBar {
          background-color: gray;
          
      }
      .header{
          border-radius: 5px;
          border: 1px solid black;
          font-size: 200%;
          text-align: center;
          font-weight:bold;
      }
      .navbar{
          margin-bottom: 20px;
          width: 30%;
          float: left;
      }
      .maincontent{
          float: right;
          width: 60%;
      }
      
    </style>
